[user]
	email = p.voznenko@gmail.com
	name = Pavlo Voznenko

[alias]
	#st = status -sb
	st = status
	ci = commit -v
	br = branch
	co = checkout
	cl = clone
	di = diff
	l  = log -u --name-status --stat --summary --color
	lo = log --format=oneline
	lg = log --graph --decorate --pretty=oneline --abbrev-commit
	lgg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%aE>%Creset' --abbrev-commit --date=local --all
	lp = log -p
	head = log -1 HEAD
	up = pull --rebase
	cp = cherry-pick

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto

[gui]
#	recentrepo = /Users/Pavel/Projects/trava.my
[core]
#	excludesfile = /Users/Pavel/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
